<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/Bootstrab.ejs') -%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کارجو<%=user.name  %> </title>
</head>
<header>
    <%- include('../includes/Headers.ejs') -%>
</header>
<body>
 <main>

    <img src="<%=user.img  %> " alt="s">
 </main>
</body>

</html>
<footer>
    <%- include('../includes/Footers.ejs') -%>
</footer>